setup() {
    # load helper scripts definitions and bats plugins/modules
    # working dir is root test script
    load $(readlink -f "${PWD}")/test_helper/helpers.bash

    # set common environment
    _common_setup

    # ensure current test image availability
    _ensure_image
}

@test "TESTNAME" {
    # CTX is test file location
    # IMAGE is docker image:tag for platform to test
    run --separate-stderr -- docker run --rm -v ${CTX}/fission.json:/etc/fission/fission.json -e FISSION_VERBOSE=true ${IMAGE}

    assert_equal "${output}" "STDOUT"
    assert_equal "${stderr}" "STDERR"
}
