name: Build fission:base image

# do not run automatically
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build fission:base image
    runs-on: ubuntu-latest
    steps:
      -
        name: Clone
        uses: actions/checkout@v2
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Setup buildx caching using github cache
        uses: actions/cache@v2
        with:
          path: /tmp/buildx-cache
          key: buildx-cache-${{ hashFiles('Dockerfile') }}
          restore-keys: |
            buildx-
      -
        # cache build in local directory; backed by github cache
        name: Build base images for [amd64][arm64]
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: fission:base
          platforms: linux/amd64,linux/arm64
          cache-from: type=local,src=/tmp/buildx-cache
          cache-to: type=local,dest=/tmp/buildx-cache-new,mode=max
      -
        name: Move buildx cache
        run: |
          rm -rf /tmp/buildx-cache
          mv /tmp/buildx-cache-new /tmp/buildx-cache
      -
        name: Upload buildx cache as artifact
        uses: actions/upload-artifact@v2
        with:
          name: buildx-cache-${{ hashFiles('Dockerfile') }}
          path: /tmp/buildx-cache