name: Run Tests

on:
  push:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [alpine, debian, ubuntu, opensuse , fedora, redhat-ubi8, almalinux, rockylinux, amazonlinux]
    #     experimental: [false]
    #     include:
    #       - platform: centos
    #         experimental: true
    # continue-on-error: ${{ matrix.experimental }}
    steps:
    -
      name: Fetch Dependencies
      run: sudo apt install -qq -y jq moreutils

    - 
      name: Clone
      uses: actions/checkout@v2
    -
      name: Run Tests
      working-directory: test
      env:
        FISSION_PLATFORM: ${{ matrix.platform }}
      run: ./test.bash -t

    - name: Prepare status artifact [${{ matrix.platform }}]
      if: ${{ always() }}
      run: |
        mkdir status &&
        echo '{}' | jq --arg job "${{ matrix.platform }}" '. + {job: $job}' > status/${{ matrix.platform }}.json
    - name: Finalize status artifact @success
      if: ${{ success() }}
      run: |
        cat status/${{ matrix.platform }}.json | jq --argjson success true '. + {success: $success}' | sponge status/${{ matrix.platform }}.json
    - name: Finalize status artifact @failure
      if: ${{ failure() }}
      run: |
        cat status/${{ matrix.platform }}.json | jq --argjson success false '. + {success: $success}' | sponge status/${{ matrix.platform }}.json
    - name: Upload status artifact [${{ matrix.platform }}.json]
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v2
      with:
        name: status
        path: status/    




